# Ignore ALL virtual environments in any folder
**/venv/
venv/

# Python cache and bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment & package manager artifacts
.env
*.env
*.egg-info/
